@charset "UTF-8";

body{
    margin: 10px 20px 10px 20px;
}

body h1{
    border-radius: 5vw;
    color: white;
    background-color: rgb(255, 140, 0);
    width: 70vw;
    text-align: center;
    margin: auto;
}

.beforecontact{
    margin: 2vw 20vw 2vw 20vw;
    border:solid 4px red ;
    border-radius: 3vw;
    padding: 3vw;
    padding-left: 3vw;
    padding-right: 1vw;
}

.beforecontact a{
    background-color: rgb(255, 140, 0);
    border-radius: 3vw;
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 10vw;
    height: 3vw;
    text-align: center;
    line-height: 3vw;
    display: block;
}



.contact input{
    resize: none;
}

.contitle h1{
    color: orange;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 15vw;
    height: 2vw;
    font-size: 1.5vw;
    margin: 2px;
    display: flex;
}

.form-control{
    margin: 1vw 20vw 1vw 20vw;
    width: 56vw;
    line-height: 3vw;
    border-radius: 2vw;
    border: 2px solid rgb(255, 140, 0);
    font-size: 1vw;
    padding: 1vw;
}

.form-control:focus {
    border-color: rgb(255, 140, 0);   /* 枠線の色 */
    background-color:rgb(255, 217, 171);  /* 背景色 */
    outline: none;           /* ※ブラウザが標準で付加する線を消したいとき */
}



.contact textarea{
    resize: none;
    width: 56vw;
    height: 20vw;
    border-radius: 2vw;
    border: 2px solid rgb(255, 140, 0);
    padding: 2vw;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
}

.contact button{
    text-decoration: none;
    color: white;
    background-color: orange;
    border-radius: 2vw;
    border: 2px solid rgb(255, 140, 0);
    margin: 1vw 20vw 1vw 20vw;
    display:inline-block;
    width: 15vw;
    height: 3vw;
    text-align: center;
    line-height: 3vw;
    font-size: 1vw;
}