footer{
  border-top: solid black 1px;
}

p{
    margin: 0;
  }
  
  .footer_img_div{
    justify-content: left;
    align-items: center;
    margin: 5px 50px 5px 50px;
  }
  
  
  
  
  .footer_img_div img{
    width: 180px;
    height: 65px;
  }
  
  
  
  .footer_div{
    display: flex;
    vertical-align: middle;
    width: 100%;
    max-height: 75px;
    bottom: 0;
  }
  
  .div_center{
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    margin: 5px 30px;
    border-left: solid rgb(70, 70, 70) 1px;
    border-right: solid rgb(70, 70, 70) 1px;
  }
  
  .div_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 800px;
  }
  
  .div_box p{
    font-size: 18px;
  }
  
  .div_box p a{
    margin: 0 20px 0 20px;
    text-decoration: none;
    transition: 0.4s ease-out;
    color: black;
  }
  
  .div_box p a:hover{
    color: #f05c61;
  }
  
  .icon_div{
    text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 320px;
  }
  
  .icon_div i{
    margin: 0 10px 0 10px;
    
  }