body,h1,h2,h3,p,ul,ol{
  margin: 0;
  padding: 0;
}

a {
  text-decoration:none;
  color:inherit;
}

body {
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}

button {
    /* 背景色を無色に */
    background: transparent;
    /* 枠線を消す */
    border: none;
    /* クリックした際に枠線をnone消す */
    outline: none;
    /* 影を消す */
    box-shadow: none;
  }

/* ヘッダー フッター*/
header{
  height: 11vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #000;
  display: flex;
}


header .logo {
  height: 10vh;
  margin: 0 0 0 30px;

}


#search-form {
  display: flex;
  height: 7vh;
  margin: auto 0 auto 1vw;
}

#search-input {
  width: 650px !important;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}




#search-button {
  display: flex;
  align-items: center; /* 上下中央に配置 */
  justify-content: center; /* 左右中央に配置 */
  background-color: #acdcff;
  color: #fff;
  border: 1px solid #acdcff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
  padding: 10px;
  font-size: 16px;
}

#search-button:hover {
  background-color: #fff;
  color: #acdcff;
  border: 1px solid #acdcff;
}

#search-button i {
  color: rgb(89, 89, 89);
  font-size: clamp(1px, 1vw, 16px);
  margin: 0; /* マージンを調整 */
}





.logo-container{
  display: flex;
  margin-left: 1vw;
}

.logo-item{
  width: 3.5vw;
  justify-content: center;
  margin: 0 0.5vw 0 0.5vw;
  display: flex;
  flex-direction: column;
}


.icon{
  height: 7vh;
  justify-content: center;
}

.logo-item_p{
  text-align: center;
  font-size: clamp(8px, 1vw,16px);
}

.header-button {
  padding: 0;
}

#header-button-1 {
  height: 7vh;
  background-color: #acdcff;
  color: #fff;
  border: 1px solid #acdcff;
  border-radius: 5px;
  margin: auto 10px auto auto ;
  justify-content: center;
}

#header-button-2 {
  height: 7vh;
  background-color: #ffd814;
  color: #fff;
  border: 1px solid #ffd814;
  border-radius: 5px;
  margin: auto 10px auto 0 ;
  justify-content: center;
  padding: 0 10px 0 10px;
}

.header-button p{
  font-size: clamp(0.1px, 1vw,16px);
}

#header-button-1:hover {
  background-color: #fff;
  color: #acdcff;
  border: 1px solid #acdcff;
}

#header-button-1:hover p {
  color: #acdcff;
}

#header-button-2:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #ffd814;
}

#header-button-2:hover p {
  color: #ffd814;
}

.header-buttons{
  display: flex;
  margin: auto 0 auto auto;
}
body::-webkit-scrollbar{
  display:none;
}
