/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}
.fullscreen-svg {
    display: block;
    margin: auto;
    max-width: 100vw;
    max-height: 100vh;
}
.toggle-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    cursor: pointer;
}

.slider {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
    transform: translateX(0);
}

.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

/* ダークモードのスライダーの位置調整 */
.dark-mode .slider {
    transform: translateX(25px);
}


canvas {
    display: block;
    position: absolute;
    /* 絶対位置指定 */
    bottom: 0;
    /* トップからの距離 */
    right: 0;
    /* 右からの距離 */
}


/*背景アニメーしょん*/
#home {
    clip-path: url(#cache);
}

#red {
    fill: none;
    opacity: 0.15;
    stroke: rgb(27, 206, 69);
    stroke-width: 12;
    stroke-miterlimit: 10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#blue {
    fill: none;
    opacity: 0.15;
    stroke: #c48b06;
    stroke-width: 12;
    stroke-miterlimit: 10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#light-blue {
    fill: none;
    opacity: 0.15;
    stroke: #06A1C4;
    stroke-width: 6;
    stroke-miterlimit: 10;
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation: draw 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0.15;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.15;
    }
}




/*ここまで背景アニメーション*/

.image-wrapper {
    position: relative;
}

.image-wrapper img[data-animated-src] {
    width: 100%;
    /* 親の.image-wrapperのサイズに合わせる */
    height: 100%;
}

#partu-wrapper img {
    width: 85px;
    height: 85px;
}


#partu-wrapper {
    position: absolute;
    width: 85px;
    height: 85px;
    left: 58px;
    top: 185px;
}

#bto-wrapper {
    position: absolute;
    width: 85px;
    height: 85px;
    left: 58px;
    top: 285px;
}

#miru-wrapper {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 49px;
    top: 385px;
}

#question-wrapper {
    position: absolute;
    width: 85px;
    height: 85px;
    left: 52px;
    top: 510px;
}

#partu {
    position: absolute;
    width: 85px;
    height: 85px;
    overflow: visible;
}

#bto {
    position: absolute;
    width: 85px;
    height: 85px;
    overflow: visible;
}

#miru {
    position: absolute;
    width: 120px;
    height: 120x;
    overflow: visible;
}

#question {
    position: absolute;
    width: 100px;
    height: 100px;
    overflow: visible;
}

.image-container {
    position: relative;
    display: block;
}



.hover-text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    white-space: nowrap;
    /* テキストの透明度を常に1に設定 */
    opacity: 1;
    /* ホバー時のアニメーションのみ設定 */
    transition: transform 075s ease;
}

.image-container a:hover .hover-text,
.image-container a:hover img {
    /* ホバー時にテキストとアイコンを少し拡大 */
    transform: scale(1.1);
}

/* 必要に応じて z-index を追加 */
.hover-text {
    z-index: 100;
    /* 適切な値に設定 */
    left: 130px;
    top: 40px;
}

.hover-text {
    transition: border-bottom 0.3s;
    /* 下線の表示を滑らかにするためのトランジション */
    border-bottom: 2px solid transparent;
    /* 初期状態では透明の下線を設定 */
}

.image-wrapper:hover .hover-text {
    border-bottom: 2px solid #000;
    /* ホバー時に表示される下線のスタイル */

}


#custom-image {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 750px;
    top: 155px;
    z-index: -1;
    /* 他の要素と重ならないように適切な値に設定 */
}


.image-wrapper a {
    /* 下線の基点とするためrelativeを指定 */
    position: relative;
}

.image-wrapper a .hover-text {
    /* 初期状態では下線が表示されないように設定 */
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
    transform: translateZ(0);

}

.image-wrapper a:hover .hover-text {
    /* ホバー時に下線を表示 */
    border-bottom: 2px solid #0481A2;
}

header{
	width: 98.8vw;
}