body,h1,h2,h3,p,ul,ol{
	margin: 0;
	padding: 0;}
  
  body{
	  margin: 0 auto;
	  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  }
  
  .question-box{
	  text-align: left;
	  padding-bottom: 30px;
  }

  .question-box-top{
	text-align: left;
	padding-bottom: 30px;
	padding-top: 30px;
  }
  
  .question-box-last{
	  text-align: left;;
  }

  .question-title-top div{
	border-left: solid #acdcff 10px;
	border-right: solid #acdcff 10px;
	width: 400px;
	height: 60px;
  }

  .company-title{
	padding-top: 12px;
	height: 50px;
  }
  

  .question-title-top{
	  width: 800px;
	  background-color: #ffffff;
	  margin: 0 auto;
	  padding: 20px 220px;
	  text-align: center;
  }
  
  .question-title-top h3{
	  color: #acdcff;
  }
  
  .question-title-top p{
	  font-size: 16px;
  }

  .flex_div{
	display: flex;
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 20px;
  }
  
  .super-q{
	width: 200px;
	position: relative;
	background-color: #F8F8F8;
  }

  .super-q h1{
	font-size: 46px;
	color: #acdcff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 50px;
	height: 50px;
  }

  .question-title{
	  width: 1000px;
	  background-color: #F8F8F8;
	  margin: 0 auto;
	  padding: 20px;
  }
  
  .question-title h3{
	  color: #acdcff;
	  font-size: 24px;
	  margin-bottom: 10px;
  }
  
  .question-title p{
	  font-size: 18px;
	  line-height: 2.0;
  }

	
  
  .otoiawase{
	  font-size: 18px;
	  margin: 20px 0;
  }

  .otoiawase a{
	color: rgb(0, 64, 212);
	transition: 0.4s ease-out;
  	text-decoration:none;
  }

  .otoiawase a:hover{
	color: rgb(150, 181, 255);
  }

  .question-title-bottom{
	width: 1200px;
	background-color: #F8F8F8;
	margin: 0 auto;
	padding: 20px;
	font-size: 18px;
}
