@charset "UTF-8";

.body {

  text-align: center;
  width: 100%;

}

.search-bar {
  border: 2.5px solid #f0e4e4;
  background-color: #f0e4e4;
  border-radius: 40px;
  width: 70vw;
  margin: 5vw auto;
  padding: 5px;
  text-align: center;
  font-size: 3.5vw;
}



.p-wrap {
width: 95vw;
  border: solid 3px rgb(200, 200, 200);
  margin: 1vw;
}

.p {
  width: 25vw;
  padding-left: 10px;
  font-size: 2vw;
}


.parts-and-tagus {
  margin: 1.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: rgb(255, 218, 192);
  font-size: 2vw;
}

.parts-and-tagus :nth-child(1),
.parts-and-tagus :nth-child(2),
.parts-and-tagus :nth-child(3),
.parts-and-tagus :nth-child(4),
.parts-and-tagus :nth-child(5),
.parts-and-tagus :nth-child(6),
.parts-and-tagus :nth-child(7),
.parts-and-tagus :nth-child(8) {
  width: 18%;
  margin: 2.5%;
  margin-top: 1.5%;
  border: 5px solid rgb(255, 110, 5);
  background-color: rgb(255, 110, 5);
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 218, 192);
  /* font-size: 0.5em;
  margin: 0.25vw;*/

}

.main-contents-wrap {
  width: 95vw;
  margin: 1%;
  border: solid 3px rgb(200, 200, 200);
  height: 1500px;
  /* height: auto; */

}



.main-contents {
  width: 90vw;
  height: 35vw;
  margin: 2.5vw;
  /* margin-top: 5%; */
  border: solid 3px rgb(200, 200, 200);
  text-align: center;
  vertical-align: center;
  display: flex;
  background-color: rgb(225, 225, 225);
  border-radius: 40px;
}

.image-file {
  background-color: white;
  opacity: 0.7;
  width: 25vw;
  height: 25vw;
  border: solid 1.0px rgb(200, 200, 200);
  margin: 20px;
}

.main-contents-section {
  border: solid 1.0px rgb(200, 200, 200);
  background-color:rgb(255, 255, 255);
  border-radius: 40px;
  width: 90vw;
  margin: 1.25vw;
}

.section-wrap {
  width: 25vw;
}


.p1 {
  display: flex;
  color: rgb(40, 37, 32);
  width: 50vw;
  margin: 2vw;
  justify-content: space-between;
}


.p1-p1 {
  width: 15vw;
  color:rgb(212, 212, 212);
  background-color: rgb(156, 156, 156);
  border: solid 1.0px rgb(200, 200, 200);
  border-radius: 40px;
  padding: 10px;
  margin-left: 6%;
  font-size: 2vw;
}

.p1-p2 {
  width: 20vw;
  padding: 10px;
  font-size: 2vw;
}



.p2 {
  margin: 1.0vw;
  width: 55vw;
  padding: 1vw;
  display: flex;
  color: rgb(40, 37, 32);
  /* width: 50%; */
  /* justify-content: space-between; */
}



.p2-p1 {
  width: 15vw;
  padding: 10px;
  color:rgb(212, 212, 212);
  background-color: rgb(156, 156, 156);
  border: solid 1.0px rgb(200, 200, 200);
  border-radius: 40px;
  font-size: 2vw;
}

.p2-p2 {
  width: 15vw;
  padding: 10px;
  font-size: 2vw;
}




.p3-p1 {
  width: 15vw;
  padding: 10px;
  border: solid 1.0px rgb(200, 200, 200);
  border-radius: 40px;
  font-size: 2vw;
  background-color: rgb(156, 156, 156);
  color:rgb(212, 212, 212);
}


.p3-p2 {
  width: 15vw;
  padding: 10px;
  font-size: 2vw;
}
