.wrapper {
    display: flex;
    gap: 0;

}

body {
    margin: 0;
    padding: 0;
    
}

main{
    font-family: "Zen Maru Gothic", sans-serif;
}
.column {
    position: relative;
    height: 89vh !important;
    width: 100vw;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    color: #c31414;
    filter: brightness(1);
    transition: background-image 1.5s ease;
    transition: width 1s;
    /* 要素を相対位置に設定 */
}


.hoverAnime {
    height: 50vh;
    width: 50vw;
    color: #fff;
    /* マウスホバー時に要素を拡大 */
    filter: brightness(0.5);
}

.info {
    margin-bottom: 0;
}

h2 {
    font-size: 3rem;
    color: #fff;
    /* テキストの色を白に設定 */
    background-color: rgba(0, 0, 0, 0.5);
    /* 背景色を半透明の黒に設定 */
    padding: 0px 5px;
    /* 上下に余白を追加 */
    border-radius: 5px;
    /* ボーダーの角を丸くする */
    position: absolute;
    /* テキストを絶対位置に設定 */
    bottom: 0px;
    /* 下側からの位置を設定 */
    top: 68vh;
    z-index: 10;
}
.sub {
    top: 78.5vh;
}

.left h2 {
    bottom: auto;
    left: 0px;
    /* 左側からの位置を設定 */
}

.right h2 {
    bottom: auto;
    right: 0px;
    /* 右側からの位置を設定 */
}


p {
    font-size: 1.5rem;
}

.left {
    text-align: left;
    background: url(../Image/Mfactory/3.png) no-repeat top center;
    background-size: cover;
    color: rgba(255, 255, 255, .7);
    /* 画像の切り替えを1秒でふわっとさせる */
}

.right {
    background: url(../Image/Mfactory/6.png) no-repeat top center;
    background-size: cover;
    color: rgba(0, 0, 0, .7);
    /* 画像の切り替えを1秒でふわっとさせる */
}

.left:hover h2 {
    color: #000;
    /* 文字色を黒に設定 */
    background-color: rgba(255, 255, 255, 0.85);
    /* 文字背景を白（不透明度85%）に設定 */
}

.right:hover h2 {
    color: #000;
    /* 文字色を黒に設定 */
    background-color: rgba(255, 255, 255, 0.85);
    /* 文字背景を白（不透明度85%）に設定 */
}

.column-select {
    pointer-events: all;
    color: #fff;
}

@media all and (min-width: 500px) {
    .wrapper {
        display: flex;
    }
}

