html{width: 100%;}


body,h1,h2,h3,p,ul,ol{
  margin: 0;
  padding: 0;}

body{
    margin: 0 auto;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
    width: 100%;
}



button {
  /* 背景色を無色に */
  background: transparent;
  /* 枠線を消す */
  border: none;
  /* クリックした際に枠線をnone消す */
  outline: none;
  /* 影を消す */
  box-shadow: none;
}

.search_container{
    box-sizing: border-box;
    position: relative;
    border: 1px solid #999;
    display: block;
    padding: 3px 10px;
    border-radius: 20px;
    height: 2.3em;
    width: 265px;
    overflow: hidden;
  }
  .search_container input[type="text"]{
    border: none;
    height: 2.0em;
  }
  .search_container input[type="text"]:focus {
    outline: 0;
  }
  .search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    border: none;
    background: #3879D9;
    color: #fff;
    position: absolute;
    width: 3.5em;
    height: 3.0em;
    right: 0px;
    top: -3px;
    outline : none;
  }

main{background-color: #ececec;}

.chat{
  font-size: 32px;
  border-left: solid #FF6E05 1.8vw;
  padding-left: 1.8vw;
  margin: 1.8vw 2vw 0 0.2vw;
}

.border_padding{
  padding: 0 0 0.5vw 0;
  border-bottom: solid #e3e3e3 2px;
  margin: 0 2vw;
}

.section{
padding-left: 2.5vw;
}

.article{
  display: flex;
}

.block{
  min-width: 1035px;
  background-color: #fff;
  margin-top: 1.5vw;
  padding-top: 1vw;
}

.flex_div_goukei{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 2.5vw 0 0 1vw;
}

.flex_div_goukei h1{
  font-size: 2.5em;
  margin-left: 2vw;
}

.flex_div_goukei h3{
  margin: 0 0 0 1.5vw;
  font-size: 2em;
  color: red;
}

.flex_div_goukei small{
  margin: 0.5vw 0 0 0;
  font-size: 1em;
}

.flex_div_border_top{
  display: flex;
  width: 73vw;
  max-height: 47.5vh;
  background-color: #fff;
  position: relative;
}

.img_div{
  width: 250px;
  margin-left: 1.5vw;
}

.border_div{
  display: flex;
  margin: 0 2vw 0 2vw;
  padding: 1vw 0;
  border-bottom: solid #e3e3e3 2px;
  width: 100%;
}



.syouhin_box{
  width: 44vw;
}

.syouhin_box h2{
  word-break: break-all;
  line-height: 1.5em;
  font-size: 1.5em;
  margin-top: 2.5vw;
}

.syouhin_box p{
  font-size: 2em;
  margin: 0.5vw 5vw 0vw 0;
  position: absolute;
  right: 0;
  bottom: 0.5vw;
}

.syouhin_img{
  width: 14vw;
}

.chat_delete{
  margin: 3vw 3.2vw 0 0;
  text-align: right;
}

.x_twitter{
  width: 24vw;
  border: 1px solid #ececec;
  margin: 1.5vw 0 1.5vw 2.5vw;
  max-height: 650px;
}

.quantity {
  /* 👇デフォルトのスタイルを解除 */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* 👇スタイル */
  display: inline-block;
  width: 10vw; /* 幅 */
  height: 3em; /* 高さ */
  margin-right: 15vw;
  padding: 0.6em 1.5em 0.6em 0.5em; /* 文字周りの余白 */
  cursor: pointer; /* カーソルを指に */
  line-height: 1.4; /* 行高 */
  font-size: 0.95em; /* フォントサイズ */
  font-weight: 700; /* 太字に */
  color: #333; /* 文字色 */
  border-radius: 4px; /* 角丸 */
  background-color: #f7f9fb; /* 背景色 */
  border: solid 1px #e1e8ef; /* 枠線 */
  box-shadow: 0 3px 3px -2px rgba(3, 29, 41, 0.15); /* 影 */
  /* 👇三角マークを作る */
  background-image: linear-gradient(45deg, transparent 50%, rgba(0,0,0,0.4) 50%),  linear-gradient(135deg, rgba(0,0,0,0.4) 50%, transparent 50%);
  background-size: 5px 5px, 5px 5px;
  background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
  background-repeat: no-repeat;
}
/* フォーカス時 */
.quantity:focus {
  outline: 0;
  border-color: #b0c5ff; /* 枠線の色を変更 */
}
/* IEでデフォルトの矢印を消す */
.quantity::-ms-expand {
  display: none;
}

.chat_bottom{
  display: flex;
  justify-content: left;
  position: relative;
  width: 73vw;
  padding-bottom: 2vw;
  background-color: #fff;
}

.chat_bottom_bottom_margin{
  width: 73vw;
  height: 1.5vw;
  background-color: #ececec;
}

.chat_bottom_bottom_padding{
  width: 73vw;
  height: 2.5vw;
  background-color: #fff;
}

.chat_bottom_div{
  display: flex;
}

.chat_bottom_div_position{
  display: flex;
  position: absolute;
  bottom: 2.5vw;
  right: 2.5vw;
}

.flex_div h1{
  margin-left: 15vw;
}

.flex_div h3 {
  margin-top: 10px;
  margin-left: 3vw;
  font-size: 32px;
  color: red;
}

.flex_div small{
  font-size: 14px;
  margin-top: 20px;
  margin-left: 5px;
}

.flex_div{
  display: flex;
  position: absolute;
  margin-top: 3vw;
  bottom: 1vw;
}

.selection_BA{
  margin: 0 20px;
  border-radius: 100px;
  width: 15vw;
  padding: 15px;
  background: rgb(255, 216, 20);
  color: #000;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight:bold;
  
}

.submit{
  margin: 0 0 0vw 1vw;
  padding: 0.5vw 1vw 0.5vw 1vw;
  border-radius: 20px;
  background-color: rgb(255, 216, 20);
  color: #000;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 12.5vw;
  border:none;
  box-shadow: 0 4px 0 rgb(228, 193, 17);
  position: absolute;
  left: 10vw;
  top: -0.2vw;
}

.submit2{
  margin: 0 0 0vw 1vw;
  padding: 0.5vw 1vw 0.5vw 1vw;
  border-radius: 20px;
  background-color: rgb(255, 216, 20);
  color: #000;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 15vw;
  border:none;
  box-shadow: 0 4px 0 rgb(228, 193, 17);
}

.submit:hover {
  transform: translateY(4px);
  box-shadow: none;
}

.submit2:hover {
  transform: translateY(4px);
  box-shadow: none;
}

.secret_text{
  font-size: 1.5em;
  color: red;
  display: none;
}

.syouhin_box:empty + .secret_text{
  display: block;
}