{% extends "base.html" %}
{% block head %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css' )}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css' )}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sanitize.css' )}}">
{% endblock %}
{% block header %}
{{header | safe}}
{% endblock %}
{% block content %}
<div class="login">
  <div class="login-container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}. <a href="{{ url_for('auth.login') }}">ログインページに行ってください</a>.
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/signup" id="login-form">
      <label class="label_l" for="email">Eメールまたはユーザーネーム</label>
      <input class="input_l" type="email" name="email" placeholder="メールアドレス" autofocus="">

      <label class="label_l" for="name">ユーザーネーム</label>
      <input class="input_l" type="text" name="name" placeholder="名前" autofocus="">

      <label class="label_l" for="password">パスワード</label>
      <input class="input_l" type="password" name="password" placeholder="パスワード">
      <button class="login-button">ログイン</button>
    </form>
  </div>
</div>
{% endblock %}
{% block footer %}
{{footer | safe}}
{% endblock %}
